<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CRUD</title>
    <!-- BOOTSTRAP CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="src\css\editing_style.css">
    <link rel="stylesheet" href="src\css\main_style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4 titulo">
      <a class="navbar-brand" href="#">CRUD MongoDB y NodeJS</a>
    </nav>
  </body>
</html>
